system
user_guide
application/*

!application/config
!application/views
!application/models
!application/controllers
.htaccess
.buildpath
.settings/
.project
.idea/
system/
assets/grocery_crud/themes/bootstrap
license.txt
bootstrap-v4
application/config/config_mail.php