system
user_guide
application/*
application/config/config_mail.php
!application/config
!application/views
!application/models
!application/controllers
!composer.json

.htaccess
.buildpath
.settings/
.project
.idea/
system/
license.txt
bootstrap-v4
vendor/
