

h2 {
    margin: 10px 0;
}

.aceptar:hover,
.denegar:hover {
    cursor: pointer;
}

.listaJugadores {
    width: 85%;
}

th {
    text-align: center;
}

td i {
    font-size: 1.5em;
}

td i:hover {
    cursor: pointer;
}

td {
    vertical-align: middle;
}