#contenedor {
    background: rgba(255, 255, 255, 0.95);
}

table tr {
    max-height: 10px;
}

tr td {
    width: 20%;
    height: 10%;
    margin: 0;
    vertical-align: middle;
}

tr td p {
    width: 100%;
}

tr td img {
    width: 80px;
    height: 90px;
}

.eliminar {
    font-size: 2em;
}

.añadir {
    font-size: 2em;
}

.eliminar:hover , 
.añadir:hover {
    cursor: pointer;
}

td > img:hover {
    cursor: pointer;
}