body {
    background-image: url("../img/background-liga.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

div.row {
    flex: 1;
}

.container-fluid {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background: #23282D;
    color: white;
}

header a {
    color: white;
}

header img {
    width: 70px;
}

#logo {
    width: 130px;
}

aside {
    background: rgba(235, 127, 33, 0.8);
}

#informacion  {
    height: calc(100% - 86.66px - 52px);
}

#foto-perfil {
    width: 130px;
    height: 150px;
}

footer {
    background: #23282D;
    color: white;
    padding: 10px;
}

#partido img {
    width: 150px;
    height: 150px;
}

#proxpartido {
    background: rgba(255, 255, 255, 0.9)
}

#aceptar , #denegar {
    font-size: 2em;
}

.carousel-item {
    width: 100%;
}

.carousel-item img {
    height: 200px;
    width: 120px;
}

.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}

#modalPerfil label {
    display: inline-block;
    width: 40%;
}

#modalPerfil input {
    width: 50%;
}

.customPagination,
.paginacionCursor {
    margin: 20px 5px;
    padding: 5px 8px;
    color: #fff;
    background: #880e4f;
    cursor: pointer;
    height: 34px;
    width: 80px;
    text-align: center;
}