body {
    height: 100vh;
    background-image: url("../img/equipo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container-fluid {
    height: 100%;
}

header {
    background: #23282D;
    color: white;
}

header a {
    color: white;
}

header img {
    width: 70px;
}

#logo {
    width: 130px;
}

aside {
    background: rgba(235, 127, 33, 0.8);
}

#informacion  {
    height: calc(100% - 86.66px - 52px);
}

div.row  {
    padding: 0;
}

footer {
    background: #23282D;
    color: white;
    padding: 10px;
}

#partido {
    border: 3px solid black;
}

#partido img {
    width: 150px;
}

#partido p {
    font-weight: bold;
}

#contenedor {
    height: calc(100% - 86.66px - 52px);
    overflow: scroll;
    background-color: #fff;
}



#aceptar , #denegar {
    font-size: 2em;
}