#contenedor {
    width: 90%;
    background: rgba(255, 255, 255, 0.9);
}

p {
    width: 100%;
}

table {
    width: 100%;
    border: 1px solid #ccc;
    table-layout: fixed;
}

.datepick, .hora {
    border: none;
    background: none;
}
.fa-edit:hover,
.fa-sync:hover{
    cursor: pointer;
}

.fa-edit, .fa-sync {
    width: 100%;
    font-size: 1.3em;
}

.fa-edit {
    margin: 0 auto;
    font-size: 1.4em;;
}

input[type="time"]::-webkit-clear-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

th,td {
    text-align: center;
}

td input {
   text-align: center;
}

.table td {
    padding: 0.4em;
}

#fecha {
    width: 20%;
}

.jornada {
    margin: 0 5px;
    width: calc(50% - 10px);
}

table td img {
    width: 120px;
    height: 130px;
}
 
.table .nombreEquipo {
    vertical-align: middle;
}

#equiposActuales .nombreEquipo p {
    margin: 0;
}