#contenedor {
    width: 90%;
    background: rgba(255, 255, 255, 0.9);
}
table {
    border: 1px solid #ccc;
}

.datepick, .hora {
    border: none;
    background: none;
}

.fa-edit:hover,
.fa-sync:hover{
    cursor: pointer;
}

.fa-edit, .fa-sync {
    width: 100%;
    font-size: 1.3em;
}

#fecha {
    width: 50%;
}