div.row {
    width: 90%;
}

.equipo {
    width: 30%;
    border: 2px solid black;
}

.equipo img {
    width: 120px;
    height: 150px;
    margin: 0 auto;
}

.equipo span {
    font-size: 1.2em;
}

p {
    margin: 0;
    padding: 0;
}

#equipo {
    width: 15%;
}

.form-control {
    width: 50%;
    text-align: center;
}

input:disabled.form-control{
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    text-align: center !important;
}

input:disabled.form-control::-webkit-inner-spin-button, 
input:disabled.form-control::-webkit-outer-spin-button { 
   display: none;
}

input[disabled=""] {
    -moz-appearance:textfield;
}