#contenedor {
    width: 90%;
    background: rgba(255, 255, 255, 0.9);
}

.th-local, .td-local {
    width: 18%;
}

.th-resultado,.td-resultado {
    width: 18%;
}

.th-visitante,.td-visitante {
    width: 18%;
}

.th-fecha,.td-fecha {
    width: 25%;
}

.th-hora,.td-hora {
    width: 20%;
}

p {
    width: 100%;
}

table {
    width: 100%;
    border: 1px solid #ccc;
    table-layout: fixed;
}

table thead {
    display:table;
  width: 100%;
}

.datepick, .hora {
    border: none;
    background: none;
}

.fa-edit:hover,
.fa-sync:hover{
    cursor: pointer;
}

.fa-edit, .fa-sync {
    width: 100%;
    font-size: 1.3em;
}

input[type="time"]::-webkit-clear-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}