body {
    height: 100vh;
    background-image: url("../img/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.formulario {
    background: rgba(255, 255, 255, 0.6);
    border-radius: 5%;
    display: none; /*Para el efecto jquery de fadeIN*/
}

.btn {
    background: #19B697;
    color: white;
    padding: 10px !important;
}

.form-group {
    margin-top: 10px;
}

.text-dark {
    margin: 0;
}

span {
    width: 100%;
}

select {
    text-align-last:center;
}
