body {
    height: 100vh;
}
* {
    box-sizing: border-box;
}
.row {
    flex: 0;
}

#contenedor {
    padding: 10px;
    background:  rgba(255, 255, 255, 0.6);
    height: 70%;
}
 
#lista_equipos {
    height: calc(100% - 38px);
    width: 100%;
}

.equipo {
   min-width: 20%;
   max-width: fit-content;
   height: 50%;
}

.equipo a img {
    width: 110px;
    height: 140px;
}

.equipo p {
    width: 100%;
}